body {
    font-family: Arial, sans-serif;
}

.hero {
    background: url("../assets/hero-cafe.jpg") center/cover no-repeat;
    height: 400px;
    display: flex;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.card {
    box-shadow: 0 8px 8px rgba(0,0,0,0.1);
}

.navbar-brand {
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-link {
    margin-left: 15px;
}

.card:hover {
    transform: scale(1.03);
    transition: 0.3s;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.card-body {
    text-align: center;
}

.card-title {
    font-weight: bold;
}